.weekDay {
  border: 1px solid #E7E8EB;
  width: 14%;
  height: 100vh;
  /*padding: 10px;*/
}

.weekDay h2 {
  text-align: center;
}

.day-week {
  font-style: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #E7E8EB;
}

