.header {
  text-align: left;
  padding: 10px;
  height: 150px;
  border-bottom: 2px solid #E7E8EB; 
}

h1 {
  font-size: 3em;
  display: inline-block;
  margin: 1em;
}

span {
  font-size: 1em;
  margin: 0.5em;
  vertical-align: middle;
  font-weight: 300;
}